/**
 * ESTILO GENERAL
 */

body {
    background-color: #eee;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
}

ul {
    margin:0px;
    padding:0px;
}


/**
 * ESTILO PARA LA AGENDA
 */
.actions {
    margin-top:13px;
    margin-right:10px;
}

#agenda {
    box-shadow: 5px 5px 5px gray;
}

.controls{
    background-color: #492d25;
    height: 300px;
}

.description-top {
    padding: 5px;
    padding-left:20px;
    background-color: #fcdd87;
    overflow: hidden;
}
.navegacion {
    padding: 5px 10px 10px 10px;
    margin-bottom: 50px;
}
.navegacion h3{
    text-align: center;
    color:white;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.tasks {
    background-color: #ffe9ac;
    padding: 0px;
    height: 300px;
    overflow: hidden;
    overflow-y: auto;
}
.tasks li {
    font-family: 'Indie Flower', cursive; 
    font-size: 20px;
    padding: 10px ;
    border-bottom: 1px solid black;
    list-style: none;    
}

/**
 * ESTILO PARA EL FOOTER
 */

footer{
    padding:10px;
    margin-top: 90px;
    background-color: #ccc;
    color:rgb(255,255,255,0.5);

    text-align: center;
}

footer p{
    font-size: 16px;
}

footer p:after{
    content:' - ';
}

footer p:before{
    content:' - ';
}